* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

.header,
.footer {
  background-color: #1f2937;
}

.nav-logo {
  display: flex;
  justify-content: space-between;
  padding: 20px 200px 0px 200px;
}

.nav-sign-up {
  display: flex;
  justify-content: space-between;
  padding: 100px 200px 100px 200px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.links ul {
    font-size: 18px;
    color: #e5e7eb;
    list-style-type: none;
    display: flex;
}

.sign-up {
    height: 200px;
    width: 400px;
}

.sign-up h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.sign-up p {
    color: #e5e7eb;
    font-size: 18px;
}

#btn, #btn-2 {
    background-color: #3882f6;
    color: white;
    height: 30px;
    width: 80px;
    border-radius: 10%;
    border: none;
}

.img {
    background-color: grey;
    height: 200px;
    width: 400px;
    font-size: 25px;
}

.main {
    text-align: center;
    
}